@charset "UTF-8";

header {
  background-color: #666;
  top:20px;
  padding: 20px;
  text-align:center ;
  font-size: 10px;
  color: white;
}

section {
  display: -webkit-flex;
  display: flex;
}
.pp {
	font-color:black;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}


nav ul {
  list-style-type: none;
  padding: 0;
}


article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  background: url(../images/tr1.jpg);   opacity: 0.8; filter: alpha(opacity=80);
  background-size: cover;
  padding: 10px;
}


footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}


@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}