@charset "UTF-8";
/* body { 메뉴박스(menu-top-home)와 고정된 메뉴박스(menu-top-home-fixed)를 감싸는 부모박스
	position:relative; width:100%; height:750px;
	background:url(../images/tr1.jpg) no-repeat center center;
	background-size:cover; 
	background-attachment:fixed;
	풀스크린 배경 설정	
	박스에 꽉차게 배경이미지 사이즈를 자동으로 조절한다.
} */

img {
	width:100%;
	border:1px solid black;
	
}